@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

* {
	box-sizing: border-box;
}

html,
body,
#root {
	min-height: 100%;
}

body {
	margin: 0;
	font-family: 'Manrope', sans-serif;
	color: #16366e;
	background: #eef3fd;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
